{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "your-firebase-project",
    "storage_bucket": "your-firebase-project.appspot.com"
  },
  "client": [],
  "configuration_version": "1"
}
